/* header */
header{
    text-align: center;
}

header .navbar {
    width: 100%; /* Ancho deseado para la barra de navegación */
    margin: 0 auto; /* Centra horizontalmente el elemento */
    background-color: transparent;
    position: fixed; /* Hace que la barra de navegación sea fija */
    top: 0; /* Coloca la barra en la parte superior de la pantalla */
    left: 0; /* Ajusta la posición de la barra */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
}

header img{
    width: 10%;
    max-width: 250px; 
}

.navbar-nav {
    margin-left:50%;
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Ajusta el margen entre elementos según sea necesario */
}
.navbar-nav .nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #d2cccc; /* Color del texto de navegación */
}
.navbar-brand span {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white; /* Establece el color del texto a blanco */
    font-size: 1em;
    }
@media (max-width: 767.98px) {
    header{
        text-align: left;
    }
    header .navbar-brand{
        font-size:30px;
        padding: 0px;
        margin-left: 0px;
    }
    .navbar-nav{
        text-align: right;
    }
}



/* Estilos para los elementos de navegación */



/* carrucel */
.carousel-inner {
    position: relative;
    width: 100%;
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho máximo de la pantalla */
    overflow: hidden;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}



/* Quienes somos */

.descripcion {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.descripcion h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.descripcion .container {
    padding: 20px; /* Añadir espacio alrededor del contenido */
}

.icono-desc {
    text-align: center; /* Centrar los iconos */
    background-color: #00BFFF; /* Color celeste para los iconos */
}
.icono-desc i {
    font-size: 1.5em; /* Tamaño de fuente grande para los iconos */
}

.row {
    margin-bottom: 40px;
}

/* Destacados */



/* Contacto */


/* Footer */
